.header {
    color: darkred;
}

.subheader {
    color: blue;
}

.header, .subheader {
    background-color: orange;
}

.background {
    background-color: yellow;
}

.link {
    color: darkgreen;
}

.importantText, .link {
    font-weight: 600;
}